/* .cover {
    background-color: white;
    text-align: center;
    border: solid black;
    border-width: 1 1px;
    height: 88%;
    width: 95%;
}
.card {
    background-color: grey;
    text-align: center;
    border-right: solid black;
    border-bottom: solid black;
    border-width: 1 1px;
    height: 650px;
    width: 100%;
    border-bottom-left-radius: 15%;
    border-top-right-radius: 5%;
}
.word {
    padding: 20%;
}
.definition {
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 50%;
} */